services:
  aladhan_api:
    build:
      context: .
      dockerfile: Dockerfile
    links:
      - aladhan_memcached
    depends_on:
      - aladhan_memcached
    env_file:
      - aladhan_api.env
    ports:
      - "80:8080"
      - "9090:9090"
      - "9091:9091"
    volumes:
      - .:/var/www
    privileged: true
    container_name: aladhan_api

  aladhan_memcached:
    image: memcached:1.6
    container_name: aladhan_memcached

