[mysqld]
server-id=1
binlog_format=ROW
log-bin

# Performance tuning
innodb_buffer_pool_size = 3G # (adjust value here, 50%-70% of total RAM)
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 1 # may change to 2 or 0
innodb_flush_method = O_DIRECT