SetEnvIF X-Forwarded-For "(,| |^)217\.138\.37\.107(,| |$)" DenyIP
Order allow,deny
Deny from env=DenyIP
Allow from all
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
