#SetEnvIF X-Forwarded-For "(,| |^)217\.138\.37\.107(,| |$)" DenyIP
#SetEnvIF X-Forwarded-For "(,| |^)31\.167\.60\.182(,| |$)" DenyIP
#Order allow,deny
#Deny from env=DenyIP
#Allow from all
RewriteEngine On
<If "%{ENV:LOAD_BALANCER_MODE} == '1' && %{HTTP:X-LOAD-BALANCER} != %{ENV:LOAD_BALANCER_KEY}">
    RewriteRule .* - [F]
</If>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
