Options +FollowSymLinks
RewriteEngine On

RewriteRule ^timingsByCity(.*)$ /v1/timingsByCity$1 [R=301,NC,L]
RewriteRule ^timingsByAddress(.*)$ /v1/timingsByAddress$1 [R=301,NC,L]
RewriteRule ^calendarByCity(.*)$ /v1/calendarByCity$1 [R=301,NC,L]
RewriteRule ^calendarByAddress(.*)$ /v1/calendarByAddress$1 [R=301,NC,L]
RewriteRule ^addressInfo(.*)$ /v1/addressInfo$1 [R=301,NC,L]

RewriteCond %{REQUEST_URI} !=/server-status
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
